*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-heading{
    text-align: center;
}

.input{
    height: 20px;
    width: 250px;
}

.heading-color-blue{
    color: blue;
}

.button-color-purple{
    height: 20px;
    width: 173px;
    background-color: purple;
    color: white;
}

#color-blue{
    color: blue;
}

#event1{
    height: 320px;
    width: 350px;
    margin: 50px 20px 50px 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

#event2{
    height: 320px;
    width: 800px;
    margin: 50px 300px 50px 20px;
    padding:20px;
    background-color: white;
    border: 1px solid black;
}

.event{
    display: flex;
    gap: 10px;
    margin: 50px;
    padding: 20px;
}

.btn{
    width: 360px;
}

#description{
    height: 50px;
    width: 250px;
}

.bold-text{
    font-weight: bold;
}

#add-event{
    width: 250px;
}