*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main-heading{
    text-align: center;
}

.input{
    height: 20px;
    width: 173px;
}

.heading-color-blue{
    color: blue;
}

.button-color-purple{
    height: 20px;
    width: 173px;
    background-color: purple;
    color: white;
}

#color-blue{
    color: blue;
}

#event1{
    height: 320px;
    width: 250px;
    margin: 50px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}

#event2{
    height: 320px;
    width: 1100px;
    margin: 50px;
    padding:20px;
    background-color: white;
    border: 1px solid black;
}

.event{
    display: flex;
    gap: 20px;
    margin: 50px;
    padding: 20px;
}

/* .color-white{
    background-color: white;
    height: 200px;
    width: 200px;
}

.color-grey{
    background-color: grey;
}

.color-black{
    /* color: black; */
} */