*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.heading-color-blue{
    color: blue;
}

.button-color-purple{
    background-color: purple;
    color: white;
}

#color-blue{
    color: blue;
}

