*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
} 

#heading{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#form{
    font-size: larger;
    font-weight: 700;
}

#add-event-heading{
    color: blue;
}

.input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

#description{
    height: 50px;
    width: 200px;
}

#add-event-btn{
    height: 40px;
    width: 200px;
    background-color:purple;
    color: white;
    border-radius: 10px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: auto;
    border: 2px solid white;
    height: 450px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
}

